:root {
    --black : black;
    --bege : #ECECEC;
    --cinza : #B3B3B3;
}


body{
    height: 100vh;
    width: 100%;
}
header{
    border: none;
    background-color: var(--bege);
    height: fit-content;
    width: 100%;
    font-size: 15px;
    font-weight: 600;
    padding: 7px 15px 7px 15px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;

    ul{
        width: min-content;
        display: flex;
        justify-content: space-around;
        list-style: none;
        padding: 0px;
        gap: 20px;
    }
    
}
.box-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    gap: 4px;
}
.logo{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 2px solid white;
    background-color: aqua;
    background-size: 100%;
}
.btn-menu {
    height: 20px;
    width: 20px;

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .line {
        width: 100%;
        height: 20%;
        background-color: black;
    }
}
button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 35px;
    border-radius: 4px;
    font-family: 'Sora', sans-serif;
    font-size: 15px;
    font-weight: 600;
    border: 2px solid #B3B3B3;
}
#menu-portrait {
    display: none;

    position: absolute;
    top: 0px;
    height: 100vh;
    width: 60%;
    background-color: var(--bege);
    padding: 6px;

    .container-btn {
        height: 50px;
        width: 100%;
    }
    .box-logo {
        width: 100%;
        height: 10%;
        justify-content: center;
    }
    li {
        width: 100%;
        height: 40px;
        list-style: none;
        div {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }    
    }
    .entrar {
        position: relative;
        left: 50%;
        top: 40%;
        transform: translateX(-50%);
    }
}
#entrar:hover{
    background-color:aliceblue;
}
.sec{
    background-color: antiquewhite;
    width: 100%;
    height: 700px;
}
#sec1 {
    padding-top: 50px;
    padding-bottom: 50px;
    height: max-content;
    background-color: black;
    color: var(--bege);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 12px;
    h1{
        font-size: 50px;
    }
    .texto{
        width: 40%;
        gap: 10px;
    }
    button{
        width: 100px;
        height: 35px;
        margin: 5px;
        border-radius: 5px;
        border: 2px solid var(--cinza);
    }
}
#sec2{

    height: 500px;
    background-color: var(--bege);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 12px;
    h1{
        font-size: 50px;
    }
    .texto{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }
    button{
        width: 100px;
        height: 35px;
        margin: 5px;
        margin-top: 30px;
    } 
}
#sec2 .esquerda{
    height: 50%;
    width: 452px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    text-align: start;
}
#sec2 .direita{
    height: fit-content;
    width: fit-content;
    #foto-woh{
        height: 400px;
        width: 400px;
        background-color: aqua;
    }
}
#sec3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--black);
    width: 100%;
    height: 80vh;
}
.img-sec3{
    height: 300px;
    width: 300px;
    background-color: aquamarine;
    border-radius: 20px;
}

#footer-On{
    width: 100%;
    height: 70px;
    position: relative;
    bottom: 0px;
}
footer{
    background-color: #ECECEC;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 15px;
}
.footer-contet{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: aqua;
    border-radius: 70px;
    border: 2px solid white;
}
@media(max-width: 600px){
    header{
        justify-content: space-between;
        .btn-menu {
            display: flex;
        }
        .box-logo, ul {
            display: none;
        }
    }
    
    #menu-portrait {
        opacity: 100%;
    }
}