body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content {
    height: 80%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid rgba(245, 245, 245, 0.575);
    border-radius: 3%;
    box-shadow: rgba(0, 0, 0, 0.349) 6px 8px 20px 1px;
    padding: 5% 2% 5% 2%;
    max-width: 410px;
}
h1 {
    margin-bottom: 2%;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin-bottom: 5%;
}
ul {
    display: flex;
    flex-direction: column;
    align-items: end;   

    width: 100%;
}
li {
    display: flex;
    flex-direction: column;
    align-items: start;

    width: 100%;
    margin-top: 3%;

    list-style-type: none;
}
input {
    width: 100%;
    height: 38px;
    border: none;
    border-bottom: #00000066 solid 1px;
    padding: 2% 2% 0% 1%;

    font-size: 15px;
    letter-spacing: 1.5px;
}
input:focus {
    padding: 2%;
    transition: ease 0.2s;
    border: 1px solid black;
}
input[type="email"] {
    background-color: white;
}
input[type="submit"] {
    border: 1px solid black;
    border-radius: 6px;
    margin-top: 7%;
    padding: 2%;
}
@keyframes click{
    0%{background-color: white;}
    100%{background-color: rgb(85, 252, 252);}
}
input[type="submit"]:hover{
    animation: click 1s;
    background-color: rgb(85, 252, 252);
}
a {
    margin-bottom: 2%;
}
